{% load static %}
<html>
    <head>
        <title>Oguzhan Blog</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Mansalva&display=swap" rel="stylesheet">
    </head>
    <body>
        
    <div class="container">
        <nav class="navbar fixed-top">
            <span class="navbar-brand">Oguzhan Blog</span>
        </nav>
    </div>