{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}
    <div class="container">
        <form method="POST" class="post-form">
            {% csrf_token %}

            <div class="col-md-12">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-12">
                {{ form.text|as_crispy_field }}
            </div>
            <div class="col-md-12">
                <button type="submit" class="save btn-sm">Save</button>
            </div>

            {{ form.media }}
        </form>
    </div>
{% endblock %}