{% extends 'blog/base.html' %}

{% load static %}

{% block content %}
    <!--Post with Card-->
    {% for post in posts %}
        <div class="card">

            <div class="card-header">
                <h1 class="card-title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            </div>
            
            <div class="card-body">
                <p>{{ post.text|safe|linebreaksbr|truncatechars:500 }}</p>
            </div>

            <div class="card-footer">
                <p>published: {{ post.published_date|timesince }}</p>
            </div>
            
        </div>
    {% endfor %}

<!--Pagination-->
<div class="container">
    {% if posts.has_other_pages %}
        <ul class="pagination justify-content-center">
            <!--Previous-->
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
            {% else %}
                <li id="disable-item-previous" class="page-item disable"><a class="page-link">Previous</a></li>
            {% endif %}
            <!--Pages-->
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li id="active-item" class="page-item active"><a class="page-link">{{ i }} </a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            <!--Next-->
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
            {% else %}
                <li id="disable-item-next" class="page-item disable"><a class="page-link">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
{% endblock %}
